<div class="outer-container">
<h1 class="heading">Class Helper</h1>
<h3>A review class topic suggestion board</h3>
<div class="content-container">
    <% @topics.each do |topic| %>
        <div class="topic-container">  
            <%= link_to topic.title, topic, class: 'topic-title'%>
            <div class="options-container">
            <div class="votes-container">
                <%= link_to ('<i class="fas fa-thumbs-up"></i>').html_safe, "/topics/#{topic.id}/votes", method: :post , class: "vote-button"%>
                <p><%=topic.votes.length%></p>
            </div>
            <div class="button-container">
                 <% if current_user == topic.user %>
                <% if can? :edit, topic %>
                    <%= link_to "Edit", "/topics/#{topic.id}/edit", class: 'edit-button' %>
                <% end %>
                <% if can? :destroy, topic %>
                    <%= link_to "Delete", "/topics/#{topic.id}", method: :delete, class: 'edit-button' %>  
                <%end%>
            <%end%>
            </div>   
            </div>
                
        </div>
    <%end%>
</div>
</div>










