<h1>Topics Board</h1>
<div class="content-container">
    <% @topics.each do |topic| %>
        <div class="topic-container">
            <h1 class="topic-title"><%=topic.title%></h1>
            <div class="vote-container">
                <%= link_to "Vote", "/topics/#{topic.id}/votes", method: :post %>
                <p><%=topic.votes.length%> votes</p>
            </div>
            <% if current_user == topic.user %>
                <%= link_to "Edit", "/topics/#{topic.id}/edit" %>
                <%= link_to "Delete", "/topics/#{topic.id}", method: :delete %>  
             <%end%>        
        </div>
    <%end%>
</div>









