
<div class="outer-container">
<div class="show-container">
            <h1 class="topic-title"><%=@topic.title%></h1>
            <p><%=@topic.description%></p>
            <div class="vote-container">
                <p><%=@topic.votes.length%> votes</p>
            </div>
            <% if current_user == @topic.user %>
                <% if can? :edit, @topic %>
                    <%= link_to "Edit", "/topics/#{@topic.id}/edit", class: 'edit-button' %>
                <% end %>
                <% if can? :destroy, @topic %>
                    <%= link_to "Delete", "/topics/#{@topic.id}", method: :delete, class: 'edit-button'%>  
                <%end%>
            <%end%>        
        </div>
</div>
