
<div class="outer-container">
<div class="show-container">
            <h1 class="topic-title"><%=@topic.title%></h1>
            <p><%=@topic.description%></p>
            <%= image_tag @topic.image if @topic.image.attached? %>
            <div class="vote-container">
                <p><%=@topic.votes.length%> votes</p>
                <% @topic.votes.each do |vote| 
                user = User.find(vote.user_id) %>
                <p><%=user.name%></p>
                <%end%>
            </div>
            <% if current_user == @topic.user || current_user.admin %>
                <% if can? :edit, @topic %>
                    <%= link_to "Edit", "/topics/#{@topic.id}/edit", class: 'edit-button' %>
                <% end %>
                <% if can? :destroy, @topic %>
                    <%= link_to "Delete", "/topics/#{@topic.id}", method: :delete, class: 'edit-button'%>  
                <%end%>
            <%end%>        
        </div>
</div>
